<h1>Pages#home</h1>


<div class="row home">
  <div class="center">
    <h4 class="title"> Venha fazer o seguro do seu celular conosco</h4>
    
    <h5 class="subtitle2">Rápido, fácil sem surpresa na hora de pagar <i class="material-icons home-icon">favorite</i></h5>
    
    <%= form_tag("/orders", method: "post") do %>
        <%= submit_tag("Fazer agora", class: "waves-effect waves-purple btn home-button") %>
  <% end %>
    
  </div>
</div>